*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: monaco,Consolas,Lucida Console,monospace;
    background-color: rgb(24, 24, 24);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 0.8rem;
}

ul{
    list-style: none;
    font-weight: 600;
    color: rgb(54, 11, 11);
}

section{
    margin-top: 1rem;
    height: 95vh;
    width: 30rem;
    padding: 1rem;
    background-color: white;
    color: rgb(54, 54, 54);
    border-radius: 5px;
    font-weight: 600;
    overflow-y: auto;
    box-shadow: 5px 2px 2px rgb(129, 128, 128);
}
.frase{
    font-style: italic;
}

@media (max-width: 480px){
    section{
        width: 380px;
    }
}